.portfolio {
	padding: 4em 0;
	.recent-title {
		h2 {
			color: $secondary-color;
		}
	}
	.recent-work {
		padding: 0 0 2em 0;
		margin-bottom: 2.5em;
		border-bottom: 1px solid hsla(0, 0%, 90%, .5);
			&:last-of-type {
				padding: 0;
				margin: 0;
				border: none;
			}
		article {
			display: flex;
			img {
				width: 300px;
				height: 240px;
				margin: 0 1em 1em 0;
				border: 1px solid hsla(0, 0%, 90%, .5);
			}
			h2 {
				a {
					color: $main-color;
					font-family: 'crete round';
					transition: .2s ease-in-out;
					&:hover {
						color: #2C89A0;
					}
				}
			}
		}
		p {
			font-size: 1.3em;
			line-height: 31px;
		}
	}
}